* {
    box-sizing:border-box
}


.grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
  }

  .child {
    padding:10px
  }

.drinks{
    display:block;
          margin-left:left;
          width:300px;
          
  }

  .dairy{
    display:block;
          margin-left:auto;
          margin-right:auto;
          display: flex;
          justify-content: center;
          width:230px;
          height: 200px
  }


  .frozen{
    display:block;
          margin-left:auto;
          margin-right:auto;
          display: flex;
          justify-content: center;
          width:300px;
        
  }


  .fruitveg{
    display:block;
          margin-left:auto;
          margin-right:auto;
          display: flex;
          justify-content: center;
          width:300px;


       
  }


  .meatfish{
    display:block;
          margin-left:auto;
          margin-right:auto;
          display: flex;
          justify-content: center;
          width:300px;
  }


  .snacks{
    display:block;
          margin-left:auto;
          margin-right:auto;
          display: flex;
          justify-content: center;
          width:330px;
          height: 140px;
  }



.drinksbtn {
    padding: 1px 6px 1px 6px;
    border: 2px solid rgb(170, 44, 44);
    border-radius: 12px;
    background-color: #fff;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 0 0.5rem;
}

.drinksbtn:hover {
    background-color: rgb(204, 139, 139);
    color: #fff;
  }
.dairybtn {
    padding: 1px 6px 1px 6px;
    border: 2px solid rgb(170, 44, 44);
    border-radius: 12px;
    background-color: #fff;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 0 0.5rem;
    
   }
   .dairybtn:hover {
    background-color: rgb(204, 139, 139);
    color: #fff;
  }

   .frozenbtn {
    padding: 1px 6px 1px 6px;
  border: 2px solid rgb(170, 44, 44);
  border-radius: 12px;
  background-color: #fff;
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin: 0 0.5rem;
   }

   .frozenbtn:hover {
    background-color: rgb(204, 139, 139);
    color: #fff;
  }

   .fruitvegbtn {
    padding: 1px 6px 1px 6px;
  border: 2px solid rgb(170, 44, 44);
  border-radius: 12px;
  background-color: #fff;
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin: 0 0.5rem;
    
   }

   .fruitvegbtn:hover {
    background-color: rgb(204, 139, 139);
    color: #fff;
  }

   .meatfishbtn {
    padding: 1px 6px 1px 6px;
  border: 2px solid rgb(170, 44, 44);
  border-radius: 12px;
  background-color: #fff;
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin: 0 0.5rem;
    
   }

   .meatfishbtn:hover {
    background-color: rgb(204, 139, 139);
    color: #fff;
  }

   .snacksbtn {
    padding: 1px 6px 1px 6px;
    border: 2px solid rgb(170, 44, 44);
    border-radius: 12px;
    background-color: #fff;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 0 0.5rem;
    
   }

   .snacksbtn:hover {
    background-color: rgb(204, 139, 139);
    color: #fff;
  }
  